* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(45deg, #95F9C3, #0B3866);
  font-family: sans-serif;
  color: white;
}

.location-section,
.temperature-section {
  height: 15vh;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.temperature {
  flex-direction: column;
}

.degree-section {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.degree-section span {
  margin: 10px;
  font-size: 25px;
}

.degree-section h2 {
  font-size: 40px;
}

.location-timezone,
.icon,
.degree-section,
.temperature-degree {
  padding-top: 10px;
}

.secondary-data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 15vh;
}

.humidity-section,
.wind-section,
.pressure-section {
  padding: 5px;
}

.wind-section {
  cursor: pointer;
}
